@{
    ViewData["Title"] = "DocGenerateEngine";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
<div class="d-flex justify-content-center align-items-center text-center" style="height:20vh;">
    <h2 class="display-4">Document Automation System</h2>
</div>  


<div class="d-flex justify-content-center align-items-center" style="height: 30vh;">
    <div class="d-flex gap-4">
        <a href="@Url.Action("Upload", "Excel")" class="btn btn-primary">
            Upload Excel File
        </a>

        <a href="@Url.Action("Editor", "Document")" class="btn btn-success">
            Create Document Template
        </a>
    </div>
</div>
